<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perpustakaan</title>
</head>
<body>
    <h1>SILAHKAN DIISI AIDA...</h1>
    <H2>Kalau bingung, tanya AI aja hmm</H2>
    <h3>Nah kamu boleh otak atik file app.py, index.html</h3>
    <h4>Dan pokoknya kamu bagian user interface dah</h4>
    <h5>Btw ini kalau kamu jalanin app.py bakal running di localhost:5000</h5>
    <h6>Edit css aja di folder static buat style nya..</h6>
</body>
</html>